<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [icon]="'chevron-back-outline'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{product?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides class="slide-padding" pager="true">
    <ion-slide *ngFor="let story of product?.photos">
      <ion-img src="{{story | filePath}}"></ion-img>
    </ion-slide>
  </ion-slides>
  <div class="product__name">{{product?.name}}</div>
  <div class="product__code">Код товара {{product?.id}}</div>
  <div class="cart">
    <div class="product__price">{{product?.price}} сом</div>
    <ng-container *ngIf="cartMap[product?.id]; else elseTmpl">
      <div class="added">
        <div class="added__text">Добавлено <br/> в корзину</div>
        <ion-icon class="added__icon" name="checkmark-done-outline"></ion-icon>
      </div>
    </ng-container>
    <ng-template #elseTmpl>
      <button (click)="addToCart()" class="cart-btn">Добавить в корзину</button>
    </ng-template>
  </div>
  <div class="card">
    <div class="card__title">Краткая описание</div>
    <div class="card__body">{{product?.desc}}</div>
  </div>
  <div class="card" *ngIf="product?.characteristicValues?.length">
    <div class="card__title">Характеристики</div>
    <div class="card__body">
      <div class="characteristic">
        <div class="characteristic__item" *ngFor="let characteristic of product?.characteristicValues">
          <div class="characteristic__name">{{characteristic.characteristic?.name}}</div>
          <div class="characteristic__value">{{characteristic.value}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
