.image-wrapper {
  width: 100px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 2px;
}

.image-width-large {
  height: 100%;
  width: auto;
  max-width: unset;
}

.image-height-large {
  width: 100%;
  height: auto;
  max-height: unset;
}

