<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <ion-label>Главная</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" class="tab-button">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Корзина</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" class="tab-button">
      <ion-icon name="call"></ion-icon>
      <ion-label>Контакты</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
