<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab-buttons">
    <ion-tab-button tab="main" class="tab-button">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label class="tab-button__label">Главная</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" class="tab-button">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label class="tab-button__label">Корзина</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" class="tab-button">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label class="tab-button__label">Контакты</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
