<ion-header>
  <ion-toolbar>
    <ion-title>Контакты</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="section">
    <div class="section__title">Менеджер по продажам</div>
    <div class="section__body">
      <a href="tel:0700 352 362" class="item">
        <div class="item__icon">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </div>
        0700 352 362
      </a>
      <a href="tel:0554 374 254" class="item">
        <div class="item__icon">
        </div>
        0554 374 254
      </a>
    </div>
  </div>

  <div class="section">
    <div class="section__title">Электронный адрес</div>
    <div class="section__body">
      <a href="mailto:admin@batstroy.kg" class="item">
        <div class="item__icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        admin@batstroy.kg
      </a>
    </div>
  </div>

  <div class="section">
    <div class="section__title">Социальные сети</div>
    <div class="section__body">
      <a href="https://api.whatsapp.com/send?phone=996700352362" class="item">
        <div class="item__icon">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </div>
        Написать в WhatsApp
      </a>
      <a href="https://t.me/minjasharwaw" class="item">
        <div class="item__icon">
          <ion-icon name="navigate-outline"></ion-icon>
        </div>
        Написать в Telegram
      </a>
      <a href="https://www.instagram.com/batstroy/" class="item">
        <div class="item__icon">
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        Instagram
      </a>
    </div>
  </div>

  <div class="section">
    <div class="section__title">Элсом</div>
    <div class="section__body">
      <div class="item">
        0700352362
      </div>
    </div>
  </div>

  <div class="section">
    <div class="section__title">Банковские реквизиты</div>
    <div class="section__body">
      <div class="item">
        Банк: <span class="item__value">OAO «Банк-Бакай»</span>
      </div>
      <div class="item">
        БИК: <span class="item__value">124001</span>
      </div>
      <div class="item">
        № счета: <span class="item__value">1242020104806786</span>
      </div>
    </div>
  </div>

</ion-content>
