.first-toolbar {
  --min-height: 48px;
  --background: #cc3333;
}

.back-icon {
  font-size: 27px;
  margin-left: 10px;
  color: white;
}

.search-input {
  --box-shadow: none;
  --background: #ea5f5f;
  --placeholder-opacity: 0.8;
  --clear-button-color: white;
  --cancel-button-color: white;
  --color: white;
  --icon-color: white;
  --border-radius: 5px;
  padding: 3px 10px;
}

.second-toolbar {
  --min-height: 26px;
  --padding-top: 5px;
  --padding-bottom: 5px;
  --background: #cc3333;
}

.categories {
  display: flex;
}

.category {
  font-size: 12px;
  border-radius: 3px;
  padding: 5px;
  font-weight: 600;
  color: white;
}

.slide {
  width: auto;

  &:first-child {
    margin-left: 10px;
  }
}

.not-found {
  color: #3d464d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__icon {
  font-size: 50px;
}

ion-card {
  color: #3d464d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.product__name {
  color: #3d464d;
  font-size: 16px;
}

.product__price {
  font-size: 16px;
  color: #3d464d;
  margin: 5px 0;
  font-weight: 600;
}

.last-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__code {
  font-size: 12px;
  color: #848484;
}

.cart {
  border-radius: 2px;
  background: transparent;
  color: #c33;
  position: relative;
}
.done__icon{
  font-size: 21px;
}
.cart__icon{
  font-size: 22px;
  color: black;
}
