<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Корзина</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="products.length; else elseTmpl">
    <ion-card class="card" *ngFor="let product of products">
      <ion-icon (click)="delete(product.id)" class="close-icon" name="close-outline"></ion-icon>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col [size]="4">
            <app-product-image [src]="product.photos[0]"></app-product-image>
          </ion-col>
          <ion-col [size]="8">
            <div class="product__name">{{product.name}}</div>
            <div class="product__price">{{product.price}} сом x {{cartMap[product.id]}}</div>
            <div class="last-line">
              <div class="product__code">Код товара {{product.id}}</div>
              <app-counter [value]="cartMap[product.id]" (valueChange)="updateCount(product.id, $event)"></app-counter>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-item>
      <ion-label>
        Итого: {{totalPrice}} сом
      </ion-label>
    </ion-item>
    <div class="btn-wrapper">
      <button (click)="presentModal()" class="btn">Оформить заказ</button>
    </div>
  </ng-container>
  <ng-template #elseTmpl>
    <div class="ion-padding empty">
      <div class="empty__icon"><ion-icon name="cart-outline"></ion-icon></div>
      <div class="empty__title">Ваша корзина пуста</div>
      <div class="empty__desc">Воспользуйтесь каталогом, <br/> чтобы добавить товар</div>
    </div>
  </ng-template>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <a href="tel:0700352362">
    <ion-fab-button size="small" color="danger">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </a>
</ion-fab>

