<ion-header>
  <ion-toolbar class="first-toolbar">
    <ion-buttons (click)="onClickBack()" slot="start" *ngIf="filter.categoryId">
      <ion-icon class="back-icon" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-searchbar class="search-input" [(ngModel)]="filter.name" placeholder="Я ищу"
                   (ionChange)="search()"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="second-toolbar"
               *ngIf="categoryChildrenMap[filter.categoryId] && categoryChildrenMap[filter.categoryId].length">
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide class="slide" *ngFor="let category of categoryChildrenMap[filter.categoryId]">
        <div class="category" (click)="categorySelect(category.id)">
          {{category.name}}
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="products.length; else elseTmpl">
    <ion-card *ngFor="let product of products" [routerLink]="['product', product.id]">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col [size]="4"><img [src]="product.photos[0] | filePath" alt=""></ion-col>
          <ion-col [size]="8">
            <div class="product__name">{{product.name}}</div>
            <div class="product__price">{{product.price}} сом</div>
            <div class="last-line">
              <div class="product__code">Код товара {{product.id}}</div>
              <ng-container *ngIf="cartMap[product.id]; else elseTmpl">
                <div class="added">
                  <div class="added__text">Добавлено <br/> в корзину</div>
                  <ion-icon class="cart__icon" name="checkmark-done-outline"></ion-icon>
                </div>
              </ng-container>
              <ng-template #elseTmpl>
                <button (click)="addToCart(product.id, $event)" class="cart">В корзину</button>
              </ng-template>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
  <ng-template #elseTmpl>
    <ion-card class="not-found">
      <ion-icon class="not-found__icon" name="sad-outline"></ion-icon>
      <ion-card-header>
        <ion-card-title>Не найдено</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Попробуйте перефразировать запрос
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Загрузка..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
