.back-icon {
  font-size: 27px;
}

.second-toolbar {
  --min-height: 40px;
  --padding-top: 0
}

.categories {
  display: flex;
}

.category {
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid silver;
  padding: 5px;
}

.slide {
  width: auto;
}

.not-found {
  color: #3d464d;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__icon {
  font-size: 50px;
}

ion-input {
  border: solid 1px red;
}

ion-card {
  color: #3d464d;
}

ion-card-title {
  color: #3d464d;
}

.price {
  font-size: 18px;
  color: #3d464d;
  margin: 5px 0;
}

.btn {
  border: 1px solid silver;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-right: 0;
  margin-left: auto;
  font-size: 20px;

  &:hover {
    background-color: aliceblue;
  }
}
